@using System.Security.Claims;

<AuthorizeView>
    <Authorized>
        Name: @context.User.FindFirst(ClaimTypes.Name).Value
        ID: @context.User.FindFirst(ClaimTypes.NameIdentifier).Value
        <a href="login/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="login/signin?RedirectUri=@RedirectUri&Identity=Microsoft">Microsoft</a>
        <a href="login/signin?RedirectUri=@RedirectUri&Identity=Google">Google(NOTWORKING)</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    string RedirectUri = "/";
}