<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="auth/microsoft-login">Microsoft</a>
        <a href="auth/google-login">Google</a>
    </NotAuthorized>
</AuthorizeView>